**/*.deb
**/*.rpm
**/*.exe
**/*.obj
*.cmake
.idea

cmake-build-debug/
CMakePresets.json

.vscode/
include/dpp/
include/cpp-httplib/
include/drogon/
include/nlohmann/
**/build/
**/*.dll
**/*.lib
docs/html/

cpp-httplib/
json/

conan_toolchain.cmake
*conan*.bat