[submodule "docs/doxygen-awesome-css"]
	path = docs/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
[submodule "deps/drogon"]
	path = deps/drogon
	url = https://github.com/drogonframework/drogon.git
